[2019-05-22 15:01] g4s8 opened #1 "Impl"
GhMan is a GitHub Telegram bot manager which helps to process notifications and configure notification rules.
Let's specify requirements in the readme and implement a prototype.

[2019-05-22 19:15] 0pdd opened #2 "BotApp.java:57-59: Refactor this class: move actual logic..."
The puzzle `1-b3595789` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/src/main/java/com/g4s8/ghman/bot/BotApp.java#L57-L59

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-05-22 19:15] 0pdd opened #3 "TkMarkdown.java:32-33: Move this class to g4s8/teletakes..."
The puzzle `1-16f6d808` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/src/main/java/com/g4s8/ghman/bot/TkMarkdown.java#L32-L33

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _remo

[2019-05-22 19:15] 0pdd opened #4 "TkApp.java:54-57: Refactor this class: extract additional..."
The puzzle `1-ba24450c` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/src/main/java/com/g4s8/ghman/web/TkApp.java#L54-L57

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-05-22 19:15] 0pdd opened #5 "TkApp.java:58-60: Refactor environment usage like..."
The puzzle `1-41b37148` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/src/main/java/com/g4s8/ghman/web/TkApp.java#L58-L60

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-05-22 19:15] 0pdd opened #6 "FlywayDataSource.java:31-33: Create new library with..."
The puzzle `1-1f46d7fc` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/src/main/java/com/g4s8/ghman/data/FlywayDataSource.java#L31-L33

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2019-05-22 19:15] 0pdd opened #7 "Users.java:36-37: Extract interfaces and implement unit..."
The puzzle `1-134b4230` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/src/main/java/com/g4s8/ghman/user/Users.java#L36-L37

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_

[2019-05-22 19:15] 0pdd opened #8 "pom.xml:168-170: Configure qulice plugin and test..."
The puzzle `1-da473f23` from #1 has to be resolved:

https://github.com/g4s8/ghman/blob/a8f587ea02446832a0de164a20b03d7667218015/pom.xml#L168-L170

The puzzle was created by @g4s8 on 22-May-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the source code. Here is more

[2019-05-30 17:08] 0crat commented on #7
Job [#7](https://github.com/g4s8/ghman/issues/7) is now in scope, role is `DEV`

[2019-05-30 17:08] g4s8 commented on #1
done

[2019-05-30 17:08] #1 closed

[2019-05-30 17:08] 0crat commented on #5
Job [#5](https://github.com/g4s8/ghman/issues/5) is now in scope, role is `DEV`

[2019-05-30 17:08] 0crat commented on #4
Job [#4](https://github.com/g4s8/ghman/issues/4) is now in scope, role is `DEV`

[2019-05-30 17:09] 0crat commented on #2
Job [#2](https://github.com/g4s8/ghman/issues/2) is now in scope, role is `DEV`

[2019-05-30 17:09] g4s8 opened #9 "Bot doesn't notify users on new notifications"
Let's monitor new unread messages and notify user if found. Mark locally this message as read right after message.

[2019-05-30 17:10] g4s8 opened #10 "It's not possible to reply to message"
User should be able to reply to notification message in Telegram, bot should handle it and post a comment to Github ticket with user's message.

[2019-05-30 17:11] g4s8 opened #11 "It's not possible to close issue"
User should be able to close issue by clicking inline button if he's an author of issue or has permissions to do that.

[2019-05-30 17:18] 0crat commented on #10
Job [#10](https://github.com/g4s8/ghman/issues/10) is now in scope, role is `DEV`

[2019-05-30 17:20] 0crat commented on #11
Job [#11](https://github.com/g4s8/ghman/issues/11) is now in scope, role is `DEV`

[2019-05-30 17:26] 0crat commented on #10
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-30 17:26] 0crat commented on #11
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-30 17:26] 0crat commented on #9
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-30 17:26] 0crat commented on #1
Job `gh:g4s8/ghman#1` is not assigned, can't get performer

[2019-05-30 17:28] 0crat commented on #1
This job is not in scope

[2019-05-30 17:42] 0crat commented on #4
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#4](https://github.com/g4s8/ghman/issues/4); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://w

[2019-05-30 17:42] 0crat commented on #2
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#2](https://github.com/g4s8/ghman/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://w

[2019-05-30 17:42] 0crat commented on #7
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#7](https://github.com/g4s8/ghman/issues/7); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://w

[2019-05-30 17:43] 0crat commented on #5
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#5](https://github.com/g4s8/ghman/issues/5); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://w

[2019-05-30 17:45] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#11](https://github.com/g4s8/ghman/issues/11); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2019-05-30 17:45] 0crat commented on #9
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#9](https://github.com/g4s8/ghman/issues/9); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http://w

[2019-05-30 17:45] 0crat commented on #10
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#10](https://github.com/g4s8/ghman/issues/10); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2019-06-03 13:29] g4s8 commented on #10
@0crat assign @victornoel

[2019-06-03 13:30] g4s8 commented on #11
@0crat assign @olenagerasimova

[2019-06-03 13:31] 0crat commented on #10
@g4s8 The job [#10](https://github.com/g4s8/ghman/issues/10) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/5d0fed5c-7826-497e-b44a-63955ae609b0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2019-06-03 13:33] 0crat commented on #10
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-03 13:34] 0crat commented on #11
@g4s8 The job [#11](https://github.com/g4s8/ghman/issues/11) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/d8749307-591a-4537-865e-36435afc80a5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2019-06-03 13:35] 0crat commented on #11
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-03 13:51] 0crat commented on #9
The job [#9](https://github.com/g4s8/ghman/issues/9) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/61b27286-e547-48e5-878c-5eb983bbbde0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-06-03 13:55] 0crat commented on #7
The job [#7](https://github.com/g4s8/ghman/issues/7) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/0007f3e7-d926-47f2-93d8-3989927ca31e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-06-03 17:35] victornoel opened #12 "How to test a bot command or callback query?"
In order to start working on #10, I need to be able to write a test but I have no idea how I can do that with teletakes.

I think the project should have a few tests for the existing code so that I can use it as an example.

A perfect one would be for `click:notification` in `BotApp`.

[2019-06-03 17:35] 0crat commented on #12
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-03 17:44] victornoel commented on #12
@g4s8 or maybe a test for the command `notifications` is better, I don't know if the user can enter text with a callback query...

[2019-06-04 07:32] 0crat commented on #5
The job [#5](https://github.com/g4s8/ghman/issues/5) assigned to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/64021d25-54b4-42d0-bd33-d7d0331542c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-06-04 07:47] 0crat commented on #4
The job [#4](https://github.com/g4s8/ghman/issues/4) assigned to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/2bf0363c-0cfb-45d7-97ac-a995b0acb7dc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-06-04 07:47] 0crat commented on #4
Job `gh:g4s8/ghman#4` already assigned to @samihibrahim, can't assign to @samihibrahim

[2019-06-04 07:48] 0crat commented on #2
The job [#2](https://github.com/g4s8/ghman/issues/2) assigned to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/72f40d66-29ca-4b36-a66a-0a29ebf6f5ea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2019-06-04 19:17] olenagerasimova opened #14 "Windows: lines in file should end with Unix-like end of line"
Trying to run qulice check on windows I'm getting multiple complaints
[code]
Please, modify .`gitattributes` file for Unix-like end of line

[2019-06-04 19:17] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-04 20:51] olenagerasimova commented on #7
@g4s8 why issues in this repo are not assigned to me (or anyone) in github while I have them in my agenda?

[2019-06-05 09:24] g4s8 commented on #7
@0crat status

[2019-06-05 09:24] 0crat commented on #7
@g4s8 This is what I know about this job in [CJT4R32Q3](https://www.0crat.com/p/CJT4R32Q3), as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#7](https://github.com/g4s8/ghman/issues/7) is [in scope](http://www.zerocracy.com/policy.html#14) for 6days
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [2days](http://w

[2019-06-05 09:29] g4s8 commented on #7
@olenagerasimova I also can't modify it, it seems that only collaborators with write access (because there are no collaborators with read access for public repos) can be listed in `assignees` Github field.

[2019-06-05 09:31] 0crat commented on #14
Job [#14](https://github.com/g4s8/ghman/issues/14) is now in scope, role is `DEV`

[2019-06-05 09:38] 0crat commented on #14
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-05 09:41] olenagerasimova commented on #7
@g4s8 I see, thanks

[2019-06-05 09:46] 0crat commented on #12
The job [#12](https://github.com/g4s8/ghman/issues/12) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/c34e0e22-d347-4c58-9363-cd7f871af906); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2019-06-05 09:55] 0crat commented on #12
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-05 09:56] 0crat commented on #12
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-05 12:48] samihibrahim commented on #4
@0crat wait while PR #13 is merged

[2019-06-05 12:49] 0crat commented on #4
@samihibrahim The impediment for [#4](https://github.com/g4s8/ghman/issues/4) was registered successfully by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-05 16:32] victornoel commented on #8
@g4s8 is this for adding CI validation or just setting up qulice/coverage in pom.xml?

I was reviewing PRs with clearly formatting problems. I spot some of them but I'm pretty sure I'm not as good as qulice: merging should be forbidden if qulice doesn't pass.

[2019-06-05 16:33] victornoel commented on #10
@0crat waiting for #12 to be solved first

[2019-06-05 16:33] 0crat commented on #10
@victornoel The impediment for [#10](https://github.com/g4s8/ghman/issues/10) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-05 16:53] g4s8 commented on #8
@victornoel I'm trying to fix it right now: CI is working for my branches but doesn't work for forks

[2019-06-05 16:58] g4s8 commented on #8
@victornoel it should be enabled now, I suppose it will be triggered with next commit in each PR

[2019-06-05 20:13] victornoel commented on #8
@g4s8 yep, it seemed to have run on #15 for example :)
It would make sense to use the --batch-mode option to avoid lots of printing about dependencies download by the way :)

[2019-06-05 20:21] 0crat commented on #8
Job [#8](https://github.com/g4s8/ghman/issues/8) is now in scope, role is `DEV`

[2019-06-06 14:02] 0crat commented on #8
The job [#8](https://github.com/g4s8/ghman/issues/8) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/cb482ee9-0e7c-46aa-addc-440a2bce2591); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2019-06-06 17:05] olenagerasimova commented on #9
@g4s8

Do I understand correctly that message in this sentence = github notification from `threads` table? And we want to monitor this table for unread notifications and send them to telegram?

[2019-06-06 17:42] g4s8 commented on #9
@olenagerasimova yes, each thread may be updated by new message (notification) or new thread may be created for new notification

[2019-06-07 05:45] olenagerasimova commented on #7
@0crat wait for review/merge #15

[2019-06-07 05:46] 0crat commented on #7
@olenagerasimova The impediment for [#7](https://github.com/g4s8/ghman/issues/7) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-07 12:13] samihibrahim opened #16 "Maven Validate Warnings"
Running any of maven commands (Validate is a good sample) produces the warnings below.

[2019-06-07 12:13] 0crat commented on #16
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-07 15:57] 0pdd commented on #7
The puzzle `1-134b4230` has disappeared from the source code, that's why I closed this issue.

[2019-06-07 15:57] #7 closed

[2019-06-07 15:57] 0pdd opened #17 "PgUsers.java:37-38: Create integration test: check all..."
The puzzle `7-4fac29c9` from #7 has to be resolved:

https://github.com/g4s8/ghman/blob/0b2f63b3f8b0108f2f156c34d4e962f557082b46/src/main/java/com/g4s8/ghman/data/PgUsers.java#L37-L38

The puzzle was created by @rultor on 07-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-06-07 15:57] 0pdd opened #18 "PgUsers.java:105-108: Replace this static method with an..."
The puzzle `7-2fb4e7d6` from #7 has to be resolved:

https://github.com/g4s8/ghman/blob/0b2f63b3f8b0108f2f156c34d4e962f557082b46/src/main/java/com/g4s8/ghman/data/PgUsers.java#L105-L108

The puzzle was created by @rultor on 07-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2019-06-07 15:57] 0pdd opened #19 "PgUserITCase.java:28-30: Continue implement this..."
The puzzle `7-5d7508dd` from #7 has to be resolved:

https://github.com/g4s8/ghman/blob/0b2f63b3f8b0108f2f156c34d4e962f557082b46/src/test/java/com/g4s8/ghman/data/PgUserITCase.java#L28-L30

The puzzle was created by @rultor on 07-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-06-07 15:57] 0pdd opened #20 "DatabaseExtension.java:34-37: Find a way to get rid of..."
The puzzle `7-0543293b` from #7 has to be resolved:

https://github.com/g4s8/ghman/blob/0b2f63b3f8b0108f2f156c34d4e962f557082b46/src/test/java/com/g4s8/ghman/data/DatabaseExtension.java#L34-L37

The puzzle was created by @rultor on 07-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-06-07 15:57] 0pdd commented on #1
@g4s8 10 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#18](https://github.com/g4s8/ghman/issues/18), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20), [#2](https://github.com/g4s8/ghman/issues/2), [#3](https://github.com/g4s8/ghman/issues/3), [#4](https://github.com/g4s8/ghman/issues/4), [#5](https://github.com/g4s8/ghman/issues/5), [#6](ht

[2019-06-07 15:57] 0pdd commented on #7
@0pdd 4 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#18](https://github.com/g4s8/ghman/issues/18), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20) are still not solved.

[2019-06-07 15:58] 0crat commented on #20
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-07 15:58] 0crat commented on #19
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-07 15:58] 0crat commented on #18
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-07 15:59] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-07 16:11] 0crat commented on #19
Job [#19](https://github.com/g4s8/ghman/issues/19) is now in scope, role is `DEV`

[2019-06-07 16:17] 0crat commented on #18
Job [#18](https://github.com/g4s8/ghman/issues/18) is now in scope, role is `DEV`

[2019-06-07 16:17] 0crat commented on #20
Job [#20](https://github.com/g4s8/ghman/issues/20) is now in scope, role is `DEV`

[2019-06-07 16:20] 0crat commented on #7
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-07 16:27] 0crat commented on #7
The job [#7](https://github.com/g4s8/ghman/issues/7) is now out of scope

[2019-06-07 18:22] ammaratef45 commented on #7
@olenagerasimova
All commit messages should have links to issues, one of your commits doesn't have a link to the issue

Please confirm that you are going to avoid that in the future

[2019-06-07 18:26] olenagerasimova commented on #7
@ammaratef45 I confirm

[2019-06-07 18:29] ammaratef45 commented on #7
Thanks

[2019-06-07 18:30] ammaratef45 commented on #7
@0crat quality acceptable

[2019-06-07 18:47] 0crat commented on #7
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-07 18:47] 0crat commented on #7
Order was finished, quality is "acceptable": +30 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-07 21:21] 0crat commented on #14
The job [#14](https://github.com/g4s8/ghman/issues/14) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/449ac5d4-87de-4537-847a-007061d8a6c5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-07 21:54] samihibrahim commented on #2
@0crat wait while PR #21 is merged

[2019-06-07 22:00] 0crat commented on #2
@samihibrahim The impediment for [#2](https://github.com/g4s8/ghman/issues/2) was registered successfully by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-08 11:16] victornoel commented on #14
@0crat refuse

[2019-06-08 11:16] 0crat commented on #14
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#14](https://github.com/g4s8/ghman/issues/14), please stop working. Reason for job resignation: Order was cancelled

[2019-06-08 11:17] 0crat commented on #14
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-08 13:40] 0crat commented on #11
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-08 14:42] 0crat commented on #9
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-09 05:24] 0crat commented on #14
The job [#14](https://github.com/g4s8/ghman/issues/14) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/2f658d76-99bf-49ab-8e53-fd3eba797e00); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-09 07:42] 0crat commented on #5
@samihibrahim[/z](https://www.0crat.com/u/samihibrahim) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-09 14:48] samihibrahim opened #22 "Add more details to the README"
The README should provide information on how to build, requirement environment, how to test and how to use this bot.

[2019-06-09 14:48] 0crat commented on #22
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-09 17:00] samihibrahim commented on #5
@0crat wait pull request #23 approval

[2019-06-09 17:00] 0crat commented on #5
@samihibrahim The impediment for [#5](https://github.com/g4s8/ghman/issues/5) was registered successfully by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-10 16:20] scristalli commented on #14
@0crat waiting for merge of #24

[2019-06-10 16:21] 0crat commented on #14
@scristalli The impediment for [#14](https://github.com/g4s8/ghman/issues/14) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-10 16:44] scristalli opened #25 "Usage of deprecated class UncheckedScalar"
`UncheckedScalar` has been deprecated in cactoos. Its usage should be removed from code.
The new `Unchecked` class should be used instead.

[2019-06-10 16:44] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-10 19:20] olenagerasimova commented on #9
@0crat wait please for review/merge of #26

[2019-06-10 19:20] 0crat commented on #9
@olenagerasimova The impediment for [#9](https://github.com/g4s8/ghman/issues/9) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-11 11:27] scristalli commented on #14
@olenagerasimova #24 has been merged, I think the issue is fixed. Could you please confirm and close?

[2019-06-11 12:47] olenagerasimova commented on #8
@0crat wait for #27 to be reviewed/merged

[2019-06-11 12:48] 0crat commented on #8
@olenagerasimova The impediment for [#8](https://github.com/g4s8/ghman/issues/8) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-11 12:48] olenagerasimova commented on #14
@scristalli thanks, do not have my windows computer around right now, will check in several hours

[2019-06-11 18:59] olenagerasimova commented on #14
@scristalli all good, thanks

[2019-06-11 18:59] #14 closed

[2019-06-11 19:16] 0crat commented on #14
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-11 19:16] 0crat commented on #14
Job [#14](https://github.com/g4s8/ghman/issues/14) is not in the agenda of @scristalli[/z](https://www.0crat.com/u/scristalli), can't inspect

[2019-06-11 19:17] 0crat commented on #14
The job [#14](https://github.com/g4s8/ghman/issues/14) is now out of scope

[2019-06-12 05:47] ammaratef45 commented on #14
@0crat quality good

[2019-06-12 06:07] 0crat commented on #14
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-12 06:07] 0crat commented on #14
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-12 07:04] g4s8 commented on #25
@scristalli what is an alternative? What class should we use for scalars with unchecked exceptions?

[2019-06-12 07:32] 0crat commented on #22
Job [#22](https://github.com/g4s8/ghman/issues/22) is now in scope, role is `DEV`

[2019-06-12 07:39] 0crat commented on #22
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-12 07:53] 0pdd commented on #5
The puzzle `1-41b37148` has disappeared from the source code, that's why I closed this issue.

[2019-06-12 07:53] #5 closed

[2019-06-12 07:53] 0pdd commented on #1
@g4s8 9 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#18](https://github.com/g4s8/ghman/issues/18), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20), [#2](https://github.com/g4s8/ghman/issues/2), [#3](https://github.com/g4s8/ghman/issues/3), [#4](https://github.com/g4s8/ghman/issues/4), [#6](https://github.com/g4s8/ghman/issues/6), [#8](htt

[2019-06-12 08:20] 0crat commented on #5
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-12 08:28] ammaratef45 commented on #5
@samihibrahim One of your commits doesn't mention the issue,

please confirm you will try to avoid that next time.

[2019-06-12 08:30] 0crat commented on #5
The job [#5](https://github.com/g4s8/ghman/issues/5) is now out of scope

[2019-06-12 08:38] 0crat commented on #19
The job [#19](https://github.com/g4s8/ghman/issues/19) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/265f6369-bc55-4008-a550-1380bdf5a0fc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-06-12 09:19] samihibrahim commented on #5
Confirmed & sorry.

[2019-06-12 09:20] ammaratef45 commented on #5
@samihibrahim no problem
Also, don't forget to mention the person you are replying to ([here](https://github.com/g4s8/ghman/issues/5#issuecomment-501191041) you should mention me)

[2019-06-12 11:20] samihibrahim commented on #5
@ammaratef45 Thanks for the tips :D

[2019-06-12 11:44] ammaratef45 commented on #5
@0crat quality acceptable

[2019-06-12 11:52] 0crat commented on #5
Order was finished, quality is "acceptable": +30 point(s) just awarded to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-12 11:52] 0crat commented on #5
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-12 12:12] olenagerasimova commented on #11
@0crat wait please, I need more time

[2019-06-12 12:12] 0crat commented on #11
@olenagerasimova The impediment for [#11](https://github.com/g4s8/ghman/issues/11) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-12 12:46] 0crat commented on #20
The job [#20](https://github.com/g4s8/ghman/issues/20) assigned to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/a7090848-3f1d-4d6c-b573-0baa5a97cf88); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2019-06-12 14:55] scristalli commented on #25
@g4s8 the alternative is `Unchecked`, as specified in the [deprecated class](https://github.com/yegor256/cactoos/blob/master/src/main/java/org/cactoos/scalar/UncheckedScalar.java#L33)
I updated the task description.

[2019-06-13 05:58] samihibrahim opened #28 "Use DBUnit for Database Unit tests"
Related to Issue #20, the status now is we are using JUnit 5 Extensions for database initialization and tear-down. I believe using a db mock (e.g. DBUnit) will provide a better alternative. Should I start the implementation or do you prefer the current setup?

[2019-06-13 05:58] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-13 05:58] samihibrahim commented on #20
@0crat wait while issue #28 is answered.

[2019-06-13 06:13] 0crat commented on #20
@samihibrahim The impediment for [#20](https://github.com/g4s8/ghman/issues/20) was registered successfully by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-13 15:04] olenagerasimova commented on #11
@g4s8 could you please give me a hint how to find out whether user has permission close the issue? As far as I understand in public repos owners can close any issue, but what about private repos?

[2019-06-14 14:22] 0crat commented on #25
Job [#25](https://github.com/g4s8/ghman/issues/25) is now in scope, role is `DEV`

[2019-06-14 14:28] 0crat commented on #25
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-15 16:06] g4s8 commented on #11
@olenagerasimova let's start with simple check that current user is issue author, authors can close self issues.

[2019-06-15 16:09] 0pdd opened #29 "Notification.java:43-48: Continue implement notifications..."
The puzzle `9-ed24d84f` from #9 has to be resolved:

https://github.com/g4s8/ghman/blob/e8bd4097c1ef60b9fcb11631384a41e56bb02c7d/src/main/java/com/g4s8/ghman/bot/Notification.java#L43-L48

The puzzle was created by @rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-06-15 16:09] 0pdd opened #30 "Notification.java:49-52: Now this class send only github..."
The puzzle `9-bc8289a7` from #9 has to be resolved:

https://github.com/g4s8/ghman/blob/e8bd4097c1ef60b9fcb11631384a41e56bb02c7d/src/main/java/com/g4s8/ghman/bot/Notification.java#L49-L52

The puzzle was created by @rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-06-15 16:09] 0pdd opened #31 "Notification.java:53-56: Test for..."
The puzzle `9-965770b0` from #9 has to be resolved:

https://github.com/g4s8/ghman/blob/e8bd4097c1ef60b9fcb11631384a41e56bb02c7d/src/main/java/com/g4s8/ghman/bot/Notification.java#L53-L56

The puzzle was created by @rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-06-15 16:09] 0pdd commented on #9
@g4s8 3 puzzles [#29](https://github.com/g4s8/ghman/issues/29), [#30](https://github.com/g4s8/ghman/issues/30), [#31](https://github.com/g4s8/ghman/issues/31) are still not solved.

[2019-06-15 16:09] 0crat commented on #29
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-15 16:10] 0crat commented on #31
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-15 16:10] 0crat commented on #30
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-15 16:22] g4s8 commented on #28
@samihibrahim as I understood correctly, DBUnit is a database mock, right? If yes, it may be suitable for unit testing, but I think integration tests with real database are more important on early stage, but we can start using DBUnit tests later, when we have more stable code.

[2019-06-16 06:54] 0crat commented on #22
The job [#22](https://github.com/g4s8/ghman/issues/22) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/6682bacd-3ebe-49a3-a47d-5e4975dd78f2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-16 06:55] 0crat commented on #18
The job [#18](https://github.com/g4s8/ghman/issues/18) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/cc9b2116-61ac-4630-81d5-ce6a6ba18398); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-16 09:20] victornoel commented on #22
@0crat refuse

[2019-06-16 09:22] 0crat commented on #22
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#22](https://github.com/g4s8/ghman/issues/22), please stop working. Reason for job resignation: Order was cancelled

[2019-06-16 09:23] 0crat commented on #22
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-16 09:34] victornoel commented on #18
@0crat wait for #32 to be merged

[2019-06-16 09:35] 0crat commented on #18
@victornoel The impediment for [#18](https://github.com/g4s8/ghman/issues/18) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-16 09:54] samihibrahim commented on #2
@g4s8 I am not sure if I broke something or what. But why PDD is not closing this issue?

[2019-06-16 16:22] g4s8 commented on #2
@samihibrahim there're few pdd errors:
[code]

As I can see with `git blame` you submitted wrong-formatted puzzles which can't be processed by pdd, you need to fix 4 puzzles to close this issue.

it's my bad, I didn't configure pdd checks for Rultor and CI to see this error before merge, feel free to submit a ticket about it and I'll fix it.

[2019-06-16 17:34] 0crat commented on #22
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-16 17:58] g4s8 commented on #22
@samihibrahim please check https://github.com/g4s8/ghman/commit/af69553cc9d3575139e43abe42a073e7bc54a5f7 , is it better now?

[2019-06-16 17:59] samihibrahim commented on #2
@g4s8 well, my bad. The problem is these puzzles are from different issues (#2 & #4) and both PRs are closed now. Should I create a single new PR fixing all four puzzles? or two new PR for each issue? or create a single new Issue and fix it with its own PR?

[2019-06-16 18:07] samihibrahim commented on #22
@g4s8 much better :) added a single comment for a clarification.

[2019-06-16 18:59] olenagerasimova commented on #9
@g4s8 could you close this, please? #26 was merged

[2019-06-16 19:32] g4s8 commented on #2
@samihibrahim just create a single PR with all puzzle fixes

[2019-06-16 19:37] g4s8 commented on #22
@samihibrahim fixed your comment in https://github.com/g4s8/ghman/commit/eca2a55a8fe8ebd15da9a5744a9b789bb4c1457b

[2019-06-16 19:38] g4s8 commented on #9
@olenagerasimova thanks

[2019-06-16 19:38] #9 closed

[2019-06-16 19:44] samihibrahim commented on #22
@g4s8 looks good.

[2019-06-16 19:55] 0crat commented on #9
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-16 19:55] 0crat commented on #9
The job [#9](https://github.com/g4s8/ghman/issues/9) is now out of scope

[2019-06-16 20:05] #2 closed

[2019-06-16 20:05] 0pdd commented on #2
The puzzle `1-b3595789` has disappeared from the source code, that's why I closed this issue.

[2019-06-16 20:05] 0pdd commented on #4
The puzzle `1-ba24450c` has disappeared from the source code, that's why I closed this issue.

[2019-06-16 20:05] #4 closed

[2019-06-16 20:05] 0pdd opened #34 "TkThread.java:41-42: Implement Unit tests for TkThread..."
The puzzle `2-96a53d17` from #2 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/bot/TkThread.java#L41-L42

The puzzle was created by rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-06-16 20:05] 0pdd opened #35 "TkThread.java:43-44: Fix the..."
The puzzle `2-553fe7c5` from #2 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/bot/TkThread.java#L43-L44

The puzzle was created by rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-06-16 20:05] 0pdd opened #36 "BotApp.java:37-38: Fix the..."
The puzzle `2-3058e513` from #2 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/bot/BotApp.java#L37-L38

The puzzle was created by rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and

[2019-06-16 20:05] 0pdd opened #37 "FbUnauthorized.java:31-32: Implement Unit tests for..."
The puzzle `2-b383a27b` from #2 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/bot/FbUnauthorized.java#L31-L32

The puzzle was created by rultor on 15-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-06-16 20:05] 0pdd opened #38 "TkNotifications.java:40-41: Implement Unit tests for..."
The puzzle `2-1a5a79e9` from #2 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/bot/TkNotifications.java#L40-L41

The puzzle was created by Samih Omer on 16-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2019-06-16 20:05] 0pdd opened #39 "PsUserById.java:30-31: Implement unit tests for..."
The puzzle `4-0806f129` from #4 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/web/PsUserById.java#L30-L31

The puzzle was created by Samih Omer on 16-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-06-16 20:05] 0pdd opened #40 "FkGitHubAuthRedirection.java:33-34: Replace the call to..."
The puzzle `4-ff388267` from #4 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/web/FkGitHubAuthRedirection.java#L33-L34

The puzzle was created by Samih Omer on 08-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-06-16 20:05] 0pdd opened #41 "FkGitHubAuthRedirection.java:35-36: Implement unit tests..."
The puzzle `4-05012186` from #4 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/web/FkGitHubAuthRedirection.java#L35-L36

The puzzle was created by Samih Omer on 16-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2019-06-16 20:05] 0pdd opened #42 "TkGitHubAuthorization.java:36-38: replace those static..."
The puzzle `4-c1ef585e` from #4 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/web/TkGitHubAuthorization.java#L36-L38

The puzzle was created by Samih Omer on 08-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-06-16 20:06] 0pdd opened #43 "TkGitHubAuthorization.java:39-40: Implement unit tests..."
The puzzle `4-6f9220be` from #4 has to be resolved:

https://github.com/g4s8/ghman/blob/2198cd8faa8fac8cd00a046d4cf4f2f9dd06763e/src/main/java/com/g4s8/ghman/web/TkGitHubAuthorization.java#L39-L40

The puzzle was created by Samih Omer on 16-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-06-16 20:06] 0pdd commented on #1
@g4s8 17 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#18](https://github.com/g4s8/ghman/issues/18), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37),

[2019-06-16 20:06] 0pdd commented on #2
@0pdd 5 puzzles [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38) are still not solved.

[2019-06-16 20:06] 0pdd commented on #4
@0pdd 5 puzzles [#39](https://github.com/g4s8/ghman/issues/39), [#40](https://github.com/g4s8/ghman/issues/40), [#41](https://github.com/g4s8/ghman/issues/41), [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43) are still not solved.

[2019-06-16 20:06] 0crat commented on #38
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:06] 0crat commented on #37
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:06] 0crat commented on #36
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:07] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:07] 0crat commented on #34
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:09] 0crat commented on #43
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:09] 0crat commented on #42
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:09] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:09] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:10] 0crat commented on #39
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-16 20:31] 0crat commented on #4
Job [#4](https://github.com/g4s8/ghman/issues/4) is not in the agenda of @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), can't inspect

[2019-06-16 20:31] 0crat commented on #2
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-16 20:31] 0crat commented on #4
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-16 20:31] 0crat commented on #2
Job [#2](https://github.com/g4s8/ghman/issues/2) is not in the agenda of @samihibrahim[/z](https://www.0crat.com/u/samihibrahim), can't inspect

[2019-06-16 20:32] 0crat commented on #4
The job [#4](https://github.com/g4s8/ghman/issues/4) is now out of scope

[2019-06-16 20:32] 0crat commented on #2
The job [#2](https://github.com/g4s8/ghman/issues/2) is now out of scope

[2019-06-16 20:33] 0crat commented on #42
Job [#42](https://github.com/g4s8/ghman/issues/42) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #40
Job [#40](https://github.com/g4s8/ghman/issues/40) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #41
Job [#41](https://github.com/g4s8/ghman/issues/41) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #38
Job [#38](https://github.com/g4s8/ghman/issues/38) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #43
Job [#43](https://github.com/g4s8/ghman/issues/43) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #29
Job [#29](https://github.com/g4s8/ghman/issues/29) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #37
Job [#37](https://github.com/g4s8/ghman/issues/37) is now in scope, role is `DEV`

[2019-06-16 20:33] 0crat commented on #39
Job [#39](https://github.com/g4s8/ghman/issues/39) is now in scope, role is `DEV`

[2019-06-16 20:34] 0crat commented on #31
Job [#31](https://github.com/g4s8/ghman/issues/31) is now in scope, role is `DEV`

[2019-06-16 20:34] 0crat commented on #30
Job [#30](https://github.com/g4s8/ghman/issues/30) is now in scope, role is `DEV`

[2019-06-16 20:34] 0crat commented on #36
Job [#36](https://github.com/g4s8/ghman/issues/36) is now in scope, role is `DEV`

[2019-06-16 20:34] 0crat commented on #35
Job [#35](https://github.com/g4s8/ghman/issues/35) is now in scope, role is `DEV`

[2019-06-16 20:34] 0crat commented on #34
Job [#34](https://github.com/g4s8/ghman/issues/34) is now in scope, role is `DEV`

[2019-06-17 06:40] ammaratef45 commented on #9
@0crat quality good

[2019-06-17 06:41] ammaratef45 commented on #4
@0crat quality good

[2019-06-17 06:44] ammaratef45 commented on #2
@samihibrahim

this rule was violated in your PR, please confirm you would take of that in the future.

[2019-06-17 06:45] samihibrahim commented on #2
@ammaratef45 confirmed.

[2019-06-17 06:46] ammaratef45 commented on #2
@samihibrahim Thanks

[2019-06-17 06:46] ammaratef45 commented on #2
@0crat quality acceptable

[2019-06-17 06:53] 0crat commented on #9
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-17 06:54] 0crat commented on #9
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-17 06:55] 0crat commented on #4
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-17 06:55] 0crat commented on #4
Order was finished, quality is "good": +35 point(s) just awarded to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-17 06:55] 0crat commented on #2
Order was finished, quality is "acceptable": +30 point(s) just awarded to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-17 06:55] 0crat commented on #2
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-17 10:02] 0crat commented on #19
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-17 13:58] #8 closed

[2019-06-17 13:58] 0pdd commented on #8
The puzzle `1-da473f23` has disappeared from the source code, that's why I closed this issue.

[2019-06-17 13:58] 0pdd opened #44 "pom.xml:284-288: Increase code coverage by writing unit..."
The puzzle `8-ac152f30` from #8 has to be resolved:

https://github.com/g4s8/ghman/blob/7de110609d657f84f79c3ffaf92dab6000e483ad/pom.xml#L284-L288

The puzzle was created by rultor on 17-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed

[2019-06-17 13:58] 0pdd commented on #1
@g4s8 17 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#18](https://github.com/g4s8/ghman/issues/18), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37),

[2019-06-17 13:58] 0pdd commented on #8
@0pdd the puzzle [#44](https://github.com/g4s8/ghman/issues/44) is still not solved.

[2019-06-17 13:59] 0crat commented on #44
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-17 14:17] 0crat commented on #8
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-17 14:17] 0crat commented on #8
Job [#8](https://github.com/g4s8/ghman/issues/8) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-06-17 14:17] 0crat commented on #8
The job [#8](https://github.com/g4s8/ghman/issues/8) is now out of scope

[2019-06-17 14:21] 0crat commented on #25
The job [#25](https://github.com/g4s8/ghman/issues/25) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/02cbb184-726c-4e67-99fe-12d0d5c758f6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-17 18:36] samihibrahim commented on #28
@g4s8 fair enough.

[2019-06-17 18:38] samihibrahim commented on #20
@0crat refuse

[2019-06-17 18:45] 0crat commented on #20
@samihibrahim The user @samihibrahim[/z](https://www.0crat.com/u/samihibrahim) resigned from [#20](https://github.com/g4s8/ghman/issues/20), please stop working. Reason for job resignation: Order was cancelled

[2019-06-17 18:52] 0crat commented on #20
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @samihibrahim[/z](https://www.0crat.com/u/samihibrahim)

[2019-06-17 19:56] g4s8 commented on #22
@samihibrahim can we close then?

[2019-06-18 06:24] ammaratef45 commented on #8
@0crat quality good

[2019-06-18 06:43] 0crat commented on #8
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-18 06:43] 0crat commented on #8
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-18 06:50] samihibrahim commented on #22
@g4s8 yes, please.

[2019-06-18 07:46] olenagerasimova opened #45 "Telegram takes depend on db source"
`TkNotifications` and `TkThread` depend on database source now, I believe that's completely wrong. These classes should have `Users` field instead of `DataSource` to keep low abstraction coupling and make unit testing possible and easy (we simply create `Users.Fake` implementation and will be happy).
UPD We also got rid of datasource dependency in `BotApp.java`.

[2019-06-18 07:46] 0crat commented on #45
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-18 08:21] olenagerasimova commented on #11
@g4s8 can't get how to check this, we do not have github user id. I can get issue author from `Issue.Smart` instance, but I do not see how to check whether this author is our user. Should we add github id to `user` table or am I missing something?

[2019-06-18 09:55] g4s8 commented on #11
@olenagerasimova you can add a method to `GhUser` class to get current user, e.g.:
[code]
`Github` object will find current user by OAuth token and return it in `self()` method.

[2019-06-18 09:56] #22 closed

[2019-06-18 09:57] 0crat commented on #45
Job [#45](https://github.com/g4s8/ghman/issues/45) is now in scope, role is `DEV`

[2019-06-18 10:01] olenagerasimova commented on #11
@g4s8 thanks

[2019-06-18 10:05] 0crat commented on #45
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-18 10:14] 0crat commented on #22
Job was finished in 40 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-06-18 10:20] 0crat commented on #22
The job [#22](https://github.com/g4s8/ghman/issues/22) is now out of scope

[2019-06-18 10:21] 0crat commented on #22
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-06-19 14:25] 0crat commented on #45
The job [#45](https://github.com/g4s8/ghman/issues/45) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/bfabf75f-f0d9-48c7-a1c7-3f32bb2c4528); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-19 14:36] olenagerasimova commented on #19
@0crat wait for #47 to be reviewed&merged

[2019-06-19 14:54] 0crat commented on #19
@olenagerasimova The impediment for [#19](https://github.com/g4s8/ghman/issues/19) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-20 07:06] 0crat commented on #20
The job [#20](https://github.com/g4s8/ghman/issues/20) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/c663833e-e224-418e-b7eb-f2a9c6facee6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-06-20 16:12] scristalli commented on #45
@0crat waiting for PR #48

[2019-06-20 16:13] 0crat commented on #45
@scristalli The impediment for [#45](https://github.com/g4s8/ghman/issues/45) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-22 14:51] 0crat commented on #25
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-22 15:00] victornoel commented on #25
@0crat wait for #50 to be merged

[2019-06-22 15:01] 0crat commented on #25
@victornoel The impediment for [#25](https://github.com/g4s8/ghman/issues/25) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-24 14:06] olenagerasimova commented on #20
@0crat wait for review/merge of PR #51

[2019-06-24 14:19] 0crat commented on #20
@olenagerasimova The impediment for [#20](https://github.com/g4s8/ghman/issues/20) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-24 14:53] scristalli commented on #45
@olenagerasimova PR #48 has been merged. Could you please edit the task description to include the additional changes discussed and made in the PR? Then I think that we can close this.

[2019-06-24 16:41] olenagerasimova commented on #45
@scristalli thanks

[2019-06-24 16:41] #45 closed

[2019-06-24 17:00] 0crat commented on #45
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-24 17:00] 0crat commented on #45
The job [#45](https://github.com/g4s8/ghman/issues/45) is now out of scope

[2019-06-24 19:11] victornoel commented on #25
@scristalli the PR has been merged, you can close this issue I believe :)

[2019-06-24 19:16] #25 closed

[2019-06-24 19:58] 0crat commented on #25
Job [#25](https://github.com/g4s8/ghman/issues/25) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-24 19:59] 0crat commented on #25
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-24 20:00] 0crat commented on #25
The job [#25](https://github.com/g4s8/ghman/issues/25) is now out of scope

[2019-06-25 07:02] ammaratef45 commented on #45
@0crat quality good

[2019-06-25 07:03] ammaratef45 commented on #25
@0crat quality good

[2019-06-25 07:27] 0crat commented on #45
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-25 07:28] 0crat commented on #45
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-06-25 07:28] 0crat commented on #25
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-25 07:29] 0crat commented on #25
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-25 17:59] victornoel opened #52 "We should enable integration tests in CI"
Apparently running maven with -Pitcase fails the build because of some infrastructure problem.

See for example https://circleci.com/gh/g4s8/ghman/118 where it happens.

This should be fixed.

[2019-06-25 17:59] 0crat commented on #52
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-25 18:36] #18 closed

[2019-06-25 18:36] 0pdd commented on #18
The puzzle `7-2fb4e7d6` has disappeared from the source code, that's why I closed this issue.

[2019-06-25 18:36] 0pdd opened #53 "PgUsers.java:106-112: This class represents details about..."
The puzzle `18-891197cc` from #18 has to be resolved:

https://github.com/g4s8/ghman/blob/b7aabd5c82cd71a5bfed19195f80a52063406cde/src/main/java/com/g4s8/ghman/data/PgUsers.java#L106-L112

The puzzle was created by @rultor on 25-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2019-06-25 18:36] 0pdd commented on #1
@g4s8 17 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38),

[2019-06-25 18:36] 0pdd commented on #7
@0pdd 4 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20), [#53](https://github.com/g4s8/ghman/issues/53) are still not solved; solved: [#18](https://github.com/g4s8/ghman/issues/18).

[2019-06-25 18:36] 0pdd commented on #18
@0pdd the puzzle [#53](https://github.com/g4s8/ghman/issues/53) is still not solved.

[2019-06-25 18:37] 0crat commented on #53
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-25 18:54] 0crat commented on #18
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-25 18:54] 0crat commented on #18
Job [#18](https://github.com/g4s8/ghman/issues/18) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-06-25 18:54] 0crat commented on #18
The job [#18](https://github.com/g4s8/ghman/issues/18) is now out of scope

[2019-06-26 06:33] ammaratef45 commented on #18
@0crat quality good

[2019-06-26 07:23] 0crat commented on #18
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-26 07:47] 0crat commented on #18
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-26 08:01] 0pdd opened #54 "BotApp.java:39-44: Patterns in callback queries chains..."
The puzzle `11-457109ce` from #11 has to be resolved:

https://github.com/g4s8/ghman/blob/6ddde953d553b9a03a2e8d8f3cb86404c6e94165/src/main/java/com/g4s8/ghman/bot/BotApp.java#L39-L44

The puzzle was created by @rultor on 26-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2019-06-26 08:01] 0pdd opened #55 "TkCloseIssue.java:35-39: 1) find a way to avoid using..."
The puzzle `11-b8952b84` from #11 has to be resolved:

https://github.com/g4s8/ghman/blob/6ddde953d553b9a03a2e8d8f3cb86404c6e94165/src/main/java/com/g4s8/ghman/bot/TkCloseIssue.java#L35-L39

The puzzle was created by rultor on 26-Jun-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2019-06-26 08:01] 0pdd commented on #11
@g4s8 2 puzzles [#54](https://github.com/g4s8/ghman/issues/54), [#55](https://github.com/g4s8/ghman/issues/55) are still not solved.

[2019-06-26 08:01] 0crat commented on #54
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-26 08:02] 0crat commented on #55
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-06-26 08:08] #20 closed

[2019-06-26 08:08] 0pdd commented on #20
The puzzle `7-0543293b` has disappeared from the source code, that's why I closed this issue.

[2019-06-26 08:08] 0pdd commented on #1
@g4s8 16 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#19](https://github.com/g4s8/ghman/issues/19), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38), [#39](https://github.com/g4s8/ghman/issues/39),

[2019-06-26 08:08] 0pdd commented on #7
@0pdd 3 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#19](https://github.com/g4s8/ghman/issues/19), [#53](https://github.com/g4s8/ghman/issues/53) are still not solved; solved: [#18](https://github.com/g4s8/ghman/issues/18), [#20](https://github.com/g4s8/ghman/issues/20).

[2019-06-26 08:16] 0crat commented on #52
Job [#52](https://github.com/g4s8/ghman/issues/52) is now in scope, role is `DEV`

[2019-06-26 08:25] 0crat commented on #52
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-06-26 08:32] 0crat commented on #20
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-26 08:32] 0crat commented on #20
The job [#20](https://github.com/g4s8/ghman/issues/20) is now out of scope

[2019-06-26 08:32] 0crat commented on #20
Job [#20](https://github.com/g4s8/ghman/issues/20) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-06-26 08:34] olenagerasimova commented on #11
@g4s8 #46 was merged, could you please close this issue?

[2019-06-26 08:38] ammaratef45 commented on #20
@0crat quality good

[2019-06-26 08:49] 0crat commented on #20
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-26 08:49] 0crat commented on #20
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-26 08:57] 0crat commented on #42
The job [#42](https://github.com/g4s8/ghman/issues/42) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/933cf798-4467-4311-905d-d651ec171258); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-26 08:57] 0crat commented on #40
The job [#40](https://github.com/g4s8/ghman/issues/40) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/abfae941-70db-43fc-97b9-336c216b9c4c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-06-26 16:07] g4s8 commented on #11
@olenagerasimova thanks

[2019-06-26 16:07] #11 closed

[2019-06-26 16:25] 0crat commented on #11
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-26 16:25] 0crat commented on #11
Job [#11](https://github.com/g4s8/ghman/issues/11) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-06-26 16:25] 0crat commented on #11
The job [#11](https://github.com/g4s8/ghman/issues/11) is now out of scope

[2019-06-27 05:56] ammaratef45 commented on #11
@0crat quality good

[2019-06-27 06:03] 0crat commented on #11
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-27 06:03] 0crat commented on #11
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-27 09:52] 0crat commented on #55
Job [#55](https://github.com/g4s8/ghman/issues/55) is now in scope, role is `DEV`

[2019-06-27 09:52] 0crat commented on #54
Job [#54](https://github.com/g4s8/ghman/issues/54) is now in scope, role is `DEV`

[2019-06-29 14:44] #19 closed

[2019-06-29 14:44] 0pdd commented on #19
The puzzle `7-5d7508dd` has disappeared from the source code, that's why I closed this issue.

[2019-06-29 14:44] 0pdd commented on #1
@g4s8 15 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38), [#39](https://github.com/g4s8/ghman/issues/39), [#3](https://github.com/g4s8/ghman/issues/3), [

[2019-06-29 14:44] 0pdd commented on #7
@0pdd 2 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#53](https://github.com/g4s8/ghman/issues/53) are still not solved; solved: [#18](https://github.com/g4s8/ghman/issues/18), [#19](https://github.com/g4s8/ghman/issues/19), [#20](https://github.com/g4s8/ghman/issues/20).

[2019-06-29 15:03] 0crat commented on #19
Job [#19](https://github.com/g4s8/ghman/issues/19) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-06-29 15:03] 0crat commented on #19
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-06-29 15:04] 0crat commented on #19
The job [#19](https://github.com/g4s8/ghman/issues/19) is now out of scope

[2019-06-29 22:07] ammaratef45 commented on #19
@0crat quality good

[2019-06-29 22:15] 0crat commented on #19
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-06-29 22:15] 0crat commented on #19
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-06-30 19:14] 0crat commented on #29
The job [#29](https://github.com/g4s8/ghman/issues/29) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/8e906aef-62ac-4c3c-8c89-ced6cc14b199); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-01 09:24] scristalli commented on #40
@g4s8 I noticed that `FormattedText` is much better after recent modifications in Cactoos. Now `asString()` throws `IOException` instead of `Exception`, and an unchecked `toString()` is available.
Since we know this, it would be pointless not to use this improved version from the start, so I'm going to request a release.

[2019-07-01 09:45] 0crat commented on #42
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-01 09:46] 0crat commented on #40
@scristalli[/z](https://www.0crat.com/u/scristalli) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-01 10:40] scristalli commented on #40
@0crat waiting for a release of cactoos to use the new `FormattedText` functionalities, see [here](https://github.com/yegor256/cactoos/pull/1131#issuecomment-507211946).

[2019-07-01 10:46] 0crat commented on #40
@scristalli The impediment for [#40](https://github.com/g4s8/ghman/issues/40) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-04 05:52] 0crat commented on #41
The job [#41](https://github.com/g4s8/ghman/issues/41) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/770ab633-53ed-4252-b2f6-fde1c60e13d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-04 06:02] 0crat commented on #43
The job [#43](https://github.com/g4s8/ghman/issues/43) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/0309aa15-8872-4f30-b2fb-6978b4ac0476); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-04 06:12] 0crat commented on #37
The job [#37](https://github.com/g4s8/ghman/issues/37) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/d8955d22-8776-42b3-a413-3497a195e906); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-04 06:17] 0crat commented on #38
The job [#38](https://github.com/g4s8/ghman/issues/38) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/eff4377e-028b-491c-878a-12d164c7834e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-04 15:33] olenagerasimova commented on #41
@0crat wait for PR #56 review/merge

[2019-07-04 16:08] 0crat commented on #41
@olenagerasimova The impediment for [#41](https://github.com/g4s8/ghman/issues/41) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-04 16:12] olenagerasimova commented on #37
@0crat wait for review/merge PR #57

[2019-07-04 16:28] 0crat commented on #37
@olenagerasimova The impediment for [#37](https://github.com/g4s8/ghman/issues/37) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-05 18:38] olenagerasimova commented on #38
@0crat wait for #58 review/merge

[2019-07-05 18:47] 0crat commented on #38
@olenagerasimova The impediment for [#38](https://github.com/g4s8/ghman/issues/38) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-05 19:41] 0crat commented on #29
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-06 09:56] olenagerasimova commented on #43
@0crat wait for #59 review/merge

[2019-07-06 09:57] 0crat commented on #43
@olenagerasimova The impediment for [#43](https://github.com/g4s8/ghman/issues/43) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-06 16:48] victornoel commented on #42
@g4s8 what should we do with loggers? I think it's an ARC decision: should we use slf4j and pass `Logger` objects to constructor of classes? Something else?

[2019-07-06 16:49] victornoel commented on #42
@0crat wait for ARC answer

[2019-07-06 16:49] 0crat commented on #42
@victornoel The impediment for [#42](https://github.com/g4s8/ghman/issues/42) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-06 17:25] victornoel opened #60 "EnvironmentVariables should be renamed Configuration"
The class `EnvironmentVariables` should be named `Configuration` or `AppArguments` or something like that and have two different implementation:
- one based on environment variables
- one based on hard-coded values

[2019-07-06 17:25] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-06 17:59] victornoel commented on #29
@g4s8 to solve this, I plan to run `Notification.UnreadThreads.send()` inside `TkSync` but this means that the `WebApp` must know about the `BotSimple` object (so that it can be passed up to `UnreadThreads` constructor).

The problem is that the `BotSimple` object is constructed inside `BotApp` so is not available from within `App` where `WebApp` is constructed.

Do you:
- think this is the correc

[2019-07-06 17:59] victornoel commented on #29
@0crat waiting for ARC answer

[2019-07-06 18:01] 0crat commented on #29
@victornoel The impediment for [#29](https://github.com/g4s8/ghman/issues/29) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-09 08:46] #28 closed

[2019-07-09 09:04] 0crat commented on #28
Job `gh:g4s8/ghman#28` is not assigned, can't get performer

[2019-07-09 09:05] 0crat commented on #28
This job is not in scope

[2019-07-09 20:29] 0crat commented on #52
The job [#52](https://github.com/g4s8/ghman/issues/52) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/2437b560-5ce2-40e2-859d-1267e72fdf7d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-10 14:24] 0crat commented on #53
Job [#53](https://github.com/g4s8/ghman/issues/53) is now in scope, role is `DEV`

[2019-07-11 15:25] 0pdd commented on #40
The puzzle `4-ff388267` has disappeared from the source code, that's why I closed this issue.

[2019-07-11 15:25] #40 closed

[2019-07-11 15:25] 0pdd commented on #1
@g4s8 14 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38), [#39](https://github.com/g4s8/ghman/issues/39), [#3](https://github.com/g4s8/ghman/issues/3), [

[2019-07-11 15:25] 0pdd commented on #4
@0pdd 4 puzzles [#39](https://github.com/g4s8/ghman/issues/39), [#41](https://github.com/g4s8/ghman/issues/41), [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43) are still not solved; solved: [#40](https://github.com/g4s8/ghman/issues/40).

[2019-07-11 15:44] 0crat commented on #40
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-11 15:45] 0crat commented on #40
The job [#40](https://github.com/g4s8/ghman/issues/40) is now out of scope

[2019-07-12 07:19] 0pdd commented on #41
The puzzle `4-05012186` has disappeared from the source code, that's why I closed this issue.

[2019-07-12 07:19] #41 closed

[2019-07-12 07:19] 0pdd opened #62 "FkGitHubAuthRedirection.java:36-38: Extract into a..."
The puzzle `41-a6560248` from #41 has to be resolved:

https://github.com/g4s8/ghman/blob/d7575b17113790f9cac7ea629da59a77a3f0a417/src/main/java/com/g4s8/ghman/web/FkGitHubAuthRedirection.java#L36-L38

The puzzle was created by olenagerasimova on 08-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2019-07-12 07:19] 0pdd commented on #1
@g4s8 14 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38), [#39](https://github.com/g4s8/ghman/issues/39), [#3](https://github.com/g4s8/ghman/issues/3), [

[2019-07-12 07:19] 0pdd commented on #4
@0pdd 4 puzzles [#39](https://github.com/g4s8/ghman/issues/39), [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43), [#62](https://github.com/g4s8/ghman/issues/62) are still not solved; solved: [#40](https://github.com/g4s8/ghman/issues/40), [#41](https://github.com/g4s8/ghman/issues/41).

[2019-07-12 07:19] 0pdd commented on #41
@0pdd the puzzle [#62](https://github.com/g4s8/ghman/issues/62) is still not solved.

[2019-07-12 07:20] 0crat commented on #62
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-12 07:46] 0crat commented on #41
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-12 07:47] 0crat commented on #41
The job [#41](https://github.com/g4s8/ghman/issues/41) is now out of scope

[2019-07-12 08:10] ammaratef45 commented on #40
@0crat quality good

[2019-07-12 08:12] ammaratef45 commented on #41
@olenagerasimova All commit messages should start with the mention of the issue

One of your commit messages doesn't start with the mention of the issue

Please confirm you will try to avoid that in the future

[2019-07-12 08:13] olenagerasimova commented on #41
@ammaratef45 I confirm

[2019-07-12 08:16] ammaratef45 commented on #41
@0crat quality acceptable

[2019-07-12 08:19] 0crat commented on #40
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-12 08:19] 0crat commented on #40
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-12 08:28] 0crat commented on #41
Order was finished, quality is "acceptable": +30 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-12 08:28] 0crat commented on #39
The job [#39](https://github.com/g4s8/ghman/issues/39) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/6179dc35-4466-46b3-88bb-a0d58e519d70); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-12 08:28] 0crat commented on #41
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-12 08:29] 0crat commented on #36
The job [#36](https://github.com/g4s8/ghman/issues/36) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/762275bf-27f8-49ac-814b-d65561276853); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-12 12:16] scristalli commented on #52
@victornoel @g4s8 observation: the problem is not exclusive of CircleCI, it happens when building locally too. Exceptions causing the problem:
[code]

It seems that EnterpriseDB doesn't support these unauthenticated APIs for donwloading binaries anymore, I see no documentation and I get "access denied" on all of them.

The component we are using ([postgresql-embedded](https://github.com/yandex-qat

[2019-07-12 14:01] olenagerasimova commented on #36
@0crat refuse

[2019-07-12 14:02] 0crat commented on #36
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#36](https://github.com/g4s8/ghman/issues/36), please stop working. Reason for job resignation: Order was cancelled

[2019-07-12 14:07] 0crat commented on #36
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-12 14:22] 0crat commented on #53
The job [#53](https://github.com/g4s8/ghman/issues/53) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/63fbcdd1-f0eb-467b-9990-4598c6d47a46); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-07-12 14:22] 0crat commented on #53
Job `gh:g4s8/ghman#53` already assigned to @olenagerasimova, can't assign to @olenagerasimova

[2019-07-12 14:22] 0crat commented on #53
Job `gh:g4s8/ghman#53` already assigned to @olenagerasimova, can't assign to @olenagerasimova

[2019-07-13 09:25] victornoel commented on #42
@g4s8 ping

[2019-07-13 09:26] victornoel commented on #29
@g4s8 ping

[2019-07-13 14:18] victornoel commented on #52
@scristalli isn't the login/password specified at the datasource level?

[2019-07-14 08:55] victornoel commented on #53
@0pdd as a complement:  The todo is about extracting an interface from `JsonUserDetails` (could be named `UserDetails`?) and bring the inner class out of the `PgUsers` class in order to make it public and write unit tests for it.

[2019-07-14 10:10] victornoel opened #65 "Provide clear guidelines about rebasing in PRs"
Following some discussions:
- https://github.com/g4s8/ghman/pull/59#issuecomment-511106972
- https://t.me/zerocracy/7175

I think ARC should provide clear guidelines about rebasing versus adding commits fixing REV comments. Same about rebasing vs merging w.r.t. master.

Until now I was more for rebasing all the time, but I kind of had my mind changed (not 100%) so I would like to have a clear guid

[2019-07-14 10:10] 0crat commented on #65
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-14 10:51] victornoel commented on #29
@g4s8 forget about it, I made a PR with a solution that seemed good enough.

[2019-07-14 10:51] victornoel commented on #29
@0crat wait for #66 to be merged

[2019-07-14 10:52] 0crat commented on #29
@victornoel Job [#29](https://github.com/g4s8/ghman/issues/29) is already on hold

[2019-07-14 10:54] victornoel commented on #65
@g4s8 I wasn't aware of it, but it seems that I am not the only one bothered by this kind of questions: https://github.com/zerocracy/zerocracy.github.io/pull/103#issuecomment-509644947

[2019-07-14 13:07] victornoel commented on #12
@g4s8 can we get feedback on this?

For example, should/could we:
- use `Mockito` like this: https://github.com/g4s8/ghman/blob/master/src/test/java/com/g4s8/ghman/bot/TkCloseIssueTest.java
- use reflection like this: https://github.com/g4s8/teletakes/blob/master/src/test/java/com/g4s8/teletakes/fk/FkCommandTest.java

I don't really like the Mockito solution instead of using fake, so maybe we shou

[2019-07-14 14:06] victornoel commented on #10
@0crat wait for #68 to be merged

[2019-07-14 14:07] victornoel commented on #12
@g4s8 for the record, I went with fake `Update` object in #68 as an example.

[2019-07-14 14:18] 0crat commented on #10
@victornoel Job [#10](https://github.com/g4s8/ghman/issues/10) is already on hold

[2019-07-14 20:42] 0crat commented on #52
@scristalli[/z](https://www.0crat.com/u/scristalli) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-15 09:58] ammaratef45 opened #69 "Funding isn't configured for GitHub sponsor program"
If you're opening the repo page in GitHub,
When clicking on the sponsor button on top of the page, you'll see the following
![Screenshot from 2019-07-15 11-56-15](https://user-images.githubusercontent.com/13663221/61208415-a791e480-a6f7-11e9-9b4c-952f00433ab1.png)

[2019-07-15 09:58] 0crat commented on #69
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-15 12:49] scristalli commented on #52
@0crat wait for [jcabi/jcabi-jdbc#73](https://github.com/jcabi/jcabi-jdbc/issues/73).

[2019-07-15 12:52] 0crat commented on #52
@scristalli The impediment for [#52](https://github.com/g4s8/ghman/issues/52) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-15 12:53] victornoel commented on #52
@scristalli as I told you above, this won't be solved by jcabi-jdbc since the login/password is given to the `DataSource`, itself given to jcabi-jdbc. jcabi-jdbc does not care how the `DataSource` is created.

[2019-07-15 21:56] scristalli commented on #52
@victornoel thanks for your comment, I was able to set username and password in the JDBC URL in my PR. I'm still a bit confused, everywhere I look in standard documentation ([example](https://docs.oracle.com/javase/tutorial/jdbc/basics/sqldatasources.html)) I see these parameters set when calling `DataSource.getConnection(String username, String password)`, while I don't see any method to specify

[2019-07-16 07:10] g4s8 commented on #69
@ammaratef45 thanks, fixed, please check

[2019-07-16 07:15] ammaratef45 commented on #69
@g4s8 Great :+1:

[2019-07-16 07:15] #69 closed

[2019-07-16 07:18] g4s8 commented on #12
@victornoel we can only use reflection/mockito for testing update, but it should be fixed with https://github.com/g4s8/teletakes/issues/10

[2019-07-16 07:28] 0crat commented on #65
The job [#65](https://github.com/g4s8/ghman/issues/65) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/a75ce87a-c7b2-4fd6-8c2f-10a1d36dcf1e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2019-07-16 07:34] 0crat commented on #65
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-16 07:34] 0crat commented on #65
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-16 07:34] 0crat commented on #69
Job `gh:g4s8/ghman#69` is not assigned, can't get performer

[2019-07-16 07:34] 0crat commented on #69
This job is not in scope

[2019-07-16 13:57] scristalli commented on #52
@0crat resign

[2019-07-16 13:58] 0crat commented on #52
@scristalli The user @scristalli[/z](https://www.0crat.com/u/scristalli) resigned from [#52](https://github.com/g4s8/ghman/issues/52), please stop working. Reason for job resignation: Order was cancelled

[2019-07-16 13:58] 0crat commented on #52
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-07-16 14:17] 0crat commented on #52
The job [#52](https://github.com/g4s8/ghman/issues/52) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/3720d7eb-9893-48c6-8661-c49d55149319); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2019-07-16 14:17] 0crat commented on #52
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-16 15:35] olenagerasimova commented on #53
@0crat wait for #72 review/merge

[2019-07-16 15:36] olenagerasimova commented on #39
@0crat wait for #63 review/merge

[2019-07-16 15:37] 0crat commented on #53
@olenagerasimova The impediment for [#53](https://github.com/g4s8/ghman/issues/53) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-16 15:46] 0crat commented on #39
@olenagerasimova The impediment for [#39](https://github.com/g4s8/ghman/issues/39) was registered successfully by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-17 11:30] #39 closed

[2019-07-17 11:30] 0pdd commented on #39
The puzzle `4-0806f129` has disappeared from the source code, that's why I closed this issue.

[2019-07-17 11:30] 0pdd commented on #1
@g4s8 13 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38), [#3](https://github.com/g4s8/ghman/issues/3), [#42](https://github.com/g4s8/ghman/issues/42), [

[2019-07-17 11:30] 0pdd commented on #4
@0pdd 3 puzzles [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43), [#62](https://github.com/g4s8/ghman/issues/62) are still not solved; solved: [#39](https://github.com/g4s8/ghman/issues/39), [#40](https://github.com/g4s8/ghman/issues/40), [#41](https://github.com/g4s8/ghman/issues/41).

[2019-07-17 11:53] 0crat commented on #39
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-17 11:54] 0crat commented on #39
The job [#39](https://github.com/g4s8/ghman/issues/39) is now out of scope

[2019-07-17 11:54] 0crat commented on #39
Job [#39](https://github.com/g4s8/ghman/issues/39) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-07-17 15:27] #38 closed

[2019-07-17 15:27] 0pdd commented on #38
The puzzle `2-1a5a79e9` has disappeared from the source code, that's why I closed this issue.

[2019-07-17 15:27] 0pdd commented on #1
@g4s8 12 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#3](https://github.com/g4s8/ghman/issues/3), [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43), [

[2019-07-17 15:27] 0pdd commented on #2
@0pdd 4 puzzles [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37) are still not solved; solved: [#38](https://github.com/g4s8/ghman/issues/38).

[2019-07-17 15:27] g4s8 commented on #42
@victornoel I think we can use something like logging decorators with single `Logger` slf4j dependency,
e.g.:
[code]

What do you think?

[2019-07-17 15:38] ammaratef45 commented on #39
@0crat quality good

[2019-07-17 15:45] #37 closed

[2019-07-17 15:45] 0pdd commented on #37
The puzzle `2-b383a27b` has disappeared from the source code, that's why I closed this issue.

[2019-07-17 15:45] 0pdd commented on #1
@g4s8 11 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#3](https://github.com/g4s8/ghman/issues/3), [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43), [#44](https://github.com/g4s8/ghman/issues/44), [

[2019-07-17 15:45] 0pdd commented on #2
@0pdd 3 puzzles [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36) are still not solved; solved: [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://github.com/g4s8/ghman/issues/38).

[2019-07-17 15:45] g4s8 commented on #60
@victornoel I'd also try to fallback to system properties if env-variable was not found, it may be helpful for unit/integration testing, we can specify some configuration in failsafe plugin declaration and `Configuration` class will automatically catch these values

[2019-07-17 16:08] 0crat commented on #60
Job [#60](https://github.com/g4s8/ghman/issues/60) is now in scope, role is `DEV`

[2019-07-17 16:23] victornoel commented on #60
@g4s8 also there is another class named `App.Options` that seems to also duplicate the functionality. I think all of this could end up with one interface and multiple implementations, something like:
[code]

[2019-07-17 16:30] 0crat commented on #39
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-17 17:00] 0crat commented on #38
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-17 17:01] 0crat commented on #39
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-17 17:08] victornoel commented on #42
@g4s8 ok for using decorator when needed, and what about instantiating those loggers? Should they be instantiated by class? by object? by the main? by the object creator? with which name?

[2019-07-17 17:09] 0crat commented on #38
The job [#38](https://github.com/g4s8/ghman/issues/38) is now out of scope

[2019-07-17 17:10] 0crat commented on #37
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-17 17:10] 0crat commented on #37
Job [#37](https://github.com/g4s8/ghman/issues/37) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-07-17 17:10] 0crat commented on #37
The job [#37](https://github.com/g4s8/ghman/issues/37) is now out of scope

[2019-07-17 17:20] 0crat commented on #60
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-17 17:27] ammaratef45 commented on #38
@0crat quality good

[2019-07-17 17:27] ammaratef45 commented on #37
@0crat quality good

[2019-07-17 17:32] victornoel commented on #12
@g4s8 as I said in my previous https://github.com/g4s8/ghman/issues/12#issuecomment-511205841, we are not forced to only use reflection or mockito. I explained it a bit in https://github.com/g4s8/teletakes/issues/10#issuecomment-512448568

[2019-07-17 17:52] 0crat commented on #38
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-17 17:52] 0crat commented on #38
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-17 17:59] 0crat commented on #37
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-17 17:59] 0crat commented on #37
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-19 11:27] #29 closed

[2019-07-19 11:27] 0pdd commented on #29
The puzzle `9-ed24d84f` has disappeared from the source code, that's why I closed this issue.

[2019-07-19 11:27] 0pdd opened #73 "UnreadThreadsSync.java:33-37: Instantiate this class and..."
The puzzle `29-b004b0ba` from #29 has to be resolved:

https://github.com/g4s8/ghman/blob/f6c3f521c630fecb4801e80ff7ec0995dfc51440/src/main/java/com/g4s8/ghman/bot/UnreadThreadsSync.java#L33-L37

The puzzle was created by @rultor on 19-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2019-07-19 11:27] 0pdd opened #74 "TkSync.java:28-31: In case `Sync.sync` throws an..."
The puzzle `26-e5ebe138` from #26 has to be resolved:

https://github.com/g4s8/ghman/blob/f6c3f521c630fecb4801e80ff7ec0995dfc51440/src/main/java/com/g4s8/ghman/web/TkSync.java#L28-L31

The puzzle was created by rultor on 19-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2019-07-19 11:27] 0pdd commented on #9
@g4s8 3 puzzles [#30](https://github.com/g4s8/ghman/issues/30), [#31](https://github.com/g4s8/ghman/issues/31), [#73](https://github.com/g4s8/ghman/issues/73) are still not solved; solved: [#29](https://github.com/g4s8/ghman/issues/29).

[2019-07-19 11:27] 0pdd commented on #29
@0pdd the puzzle [#73](https://github.com/g4s8/ghman/issues/73) is still not solved.

[2019-07-19 11:28] 0crat commented on #74
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-19 11:28] 0crat commented on #73
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-19 11:32] 0pdd commented on #43
The puzzle `4-6f9220be` has disappeared from the source code, that's why I closed this issue.

[2019-07-19 11:32] #43 closed

[2019-07-19 11:32] 0pdd opened #75 "TkGitHubAuthorization.java:56-59: Introduce a meaningful..."
The puzzle `43-326a137a` from #43 has to be resolved:

https://github.com/g4s8/ghman/blob/47d10588dbf3675997526122fc5e289dba23a09d/src/main/java/com/g4s8/ghman/web/TkGitHubAuthorization.java#L56-L59

The puzzle was created by olenagerasimova on 07-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2019-07-19 11:32] 0pdd commented on #1
@g4s8 11 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#3](https://github.com/g4s8/ghman/issues/3), [#42](https://github.com/g4s8/ghman/issues/42), [#44](https://github.com/g4s8/ghman/issues/44), [#53](https://github.com/g4s8/ghman/issues/53), [

[2019-07-19 11:32] 0pdd commented on #4
@0pdd 3 puzzles [#42](https://github.com/g4s8/ghman/issues/42), [#62](https://github.com/g4s8/ghman/issues/62), [#75](https://github.com/g4s8/ghman/issues/75) are still not solved; solved: [#39](https://github.com/g4s8/ghman/issues/39), [#40](https://github.com/g4s8/ghman/issues/40), [#41](https://github.com/g4s8/ghman/issues/41), [#43](https://github.com/g4s8/ghman/issues/43).

[2019-07-19 11:32] 0pdd commented on #43
@0pdd the puzzle [#75](https://github.com/g4s8/ghman/issues/75) is still not solved.

[2019-07-19 11:33] 0crat commented on #75
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-19 11:58] 0crat commented on #29
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-19 12:00] 0crat commented on #29
The job [#29](https://github.com/g4s8/ghman/issues/29) is now out of scope

[2019-07-19 12:00] 0crat commented on #29
Job [#29](https://github.com/g4s8/ghman/issues/29) is not in the agenda of @victornoel[/z](https://www.0crat.com/u/victornoel), can't inspect

[2019-07-19 12:07] 0crat commented on #43
The job [#43](https://github.com/g4s8/ghman/issues/43) is now out of scope

[2019-07-19 12:07] 0crat commented on #43
Job [#43](https://github.com/g4s8/ghman/issues/43) is not in the agenda of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), can't inspect

[2019-07-19 12:07] 0crat commented on #43
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-20 12:27] ammaratef45 commented on #43
@0crat quality good

[2019-07-20 12:29] ammaratef45 commented on #29
@0crat quality good

[2019-07-20 13:59] 0crat commented on #43
Order was finished, quality is "good": +35 point(s) just awarded to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova)

[2019-07-20 14:00] 0crat commented on #43
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-20 14:00] 0crat commented on #29
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-20 14:04] 0crat commented on #29
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-07-20 14:13] 0crat commented on #36
The job [#36](https://github.com/g4s8/ghman/issues/36) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/b0a51dda-ed9f-4e02-ba72-2caead92206f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-20 14:14] 0crat commented on #31
The job [#31](https://github.com/g4s8/ghman/issues/31) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/3a3de172-4b3d-40d4-bff2-54515f930e1a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-20 14:24] 0crat commented on #35
The job [#35](https://github.com/g4s8/ghman/issues/35) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/9291f6de-d985-4eae-95bc-894c4a0e31aa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-20 15:29] 0crat commented on #34
The job [#34](https://github.com/g4s8/ghman/issues/34) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/2c810e61-fae9-4056-ac1e-718551df0a5c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-20 16:55] victornoel commented on #31
@0crat wait for #76 to be merged

[2019-07-21 01:51] 0crat commented on #31
@victornoel The impediment for [#31](https://github.com/g4s8/ghman/issues/31) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-21 10:48] victornoel opened #77 "Deployed bot does not answer"
I followed the README (https://github.com/g4s8/ghman#usage) to interact with the bot, but it doesn't answer at all.

[2019-07-21 10:48] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-21 12:55] 0crat commented on #77
Job [#77](https://github.com/g4s8/ghman/issues/77) is now in scope, role is `DEV`

[2019-07-21 13:02] 0crat commented on #77
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-21 14:18] 0crat commented on #30
The job [#30](https://github.com/g4s8/ghman/issues/30) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/6e70f38c-8349-4c7f-8daa-07f35c241c27); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-07-21 14:18] victornoel commented on #36
@0crat wait for #78 to be merged

[2019-07-21 14:19] victornoel commented on #30
@g4s8 what is expected exactly to be sent to users in the notification?

[2019-07-21 14:19] victornoel commented on #30
@0crat wait for ARC answer

[2019-07-21 14:20] 0crat commented on #36
@victornoel The impediment for [#36](https://github.com/g4s8/ghman/issues/36) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-21 14:20] 0crat commented on #30
@victornoel The impediment for [#30](https://github.com/g4s8/ghman/issues/30) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-21 15:09] victornoel commented on #35
@0crat wait for #79 to be merged

[2019-07-21 15:11] victornoel commented on #34
@0crat wait for #35 to be solved first

[2019-07-21 15:13] 0crat commented on #35
@victornoel The impediment for [#35](https://github.com/g4s8/ghman/issues/35) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-21 15:13] 0crat commented on #34
@victornoel The impediment for [#34](https://github.com/g4s8/ghman/issues/34) was registered successfully by @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-25 16:35] victornoel commented on #42
@g4s8 can I get more details on the question above?

[2019-07-25 17:05] victornoel commented on #30
@g4s8 ping

[2019-07-27 15:45] g4s8 commented on #42
@victornoel I'd instantiate it in package private primary constructor to be able to inject fake logger for tests if needed, but to not allow foreign classes to provide invalid logger.

[2019-07-28 09:13] victornoel commented on #42
@0crat wait for #80 to be merged

[2019-07-28 09:14] 0crat commented on #42
@victornoel Job [#42](https://github.com/g4s8/ghman/issues/42) is already on hold

[2019-07-28 09:32] #65 closed

[2019-07-28 11:01] 0crat commented on #65
The job [#65](https://github.com/g4s8/ghman/issues/65) is now out of scope

[2019-07-28 11:08] 0crat commented on #65
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-07-29 18:56] victornoel opened #81 "Gitlint configuration is broken"
See for example: https://circleci.com/gh/g4s8/ghman/188

The PR for this build has correct commit messages but there are some errors in the history that makes it fail.

[2019-07-29 18:56] 0crat commented on #81
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-30 07:41] g4s8 commented on #81
@victornoel thanks, fixed in https://github.com/g4s8/ghman/commit/db1a6840a369b699cd49f081797c26632bb21a9b

[2019-07-30 07:41] #81 closed

[2019-07-30 07:50] 0pdd commented on #35
The puzzle `2-553fe7c5` has disappeared from the source code, that's why I closed this issue.

[2019-07-30 07:50] #35 closed

[2019-07-30 07:50] 0pdd opened #82 "ThreadIssueButtons.java:30-31: Implement Unit tests for..."
The puzzle `35-3f32769a` from #35 has to be resolved:

https://github.com/g4s8/ghman/blob/fed92889f0ad9910354a6a13d85907f1eee20ad6/src/main/java/com/g4s8/ghman/bot/ThreadIssueButtons.java#L30-L31

The puzzle was created by Victor Noël on 21-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2019-07-30 07:51] 0pdd opened #83 "ThreadIssueText.java:33-34: Implement Unit tests for this..."
The puzzle `35-959a3c21` from #35 has to be resolved:

https://github.com/g4s8/ghman/blob/fed92889f0ad9910354a6a13d85907f1eee20ad6/src/main/java/com/g4s8/ghman/bot/ThreadIssueText.java#L33-L34

The puzzle was created by Victor Noël on 29-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2019-07-30 07:51] 0pdd opened #84 "TkThread.java:40-42: Fix the..."
The puzzle `35-c5a279fc` from #35 has to be resolved:

https://github.com/g4s8/ghman/blob/fed92889f0ad9910354a6a13d85907f1eee20ad6/src/main/java/com/g4s8/ghman/bot/TkThread.java#L40-L42

The puzzle was created by Victor Noël on 29-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-07-30 07:51] 0pdd commented on #1
@g4s8 13 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#36](https://github.com/g4s8/ghman/issues/36), [#3](https://github.com/g4s8/ghman/issues/3), [#42](https://github.com/g4s8/ghman/issues/42), [#44](https://github.com/g4s8/ghman/issues/44), [#53](https://github.com/g4s8/ghman/issues/53), [#62](https://github.com/g4s8/ghman/issues/62), [

[2019-07-30 07:51] 0pdd commented on #2
@0pdd 5 puzzles [#34](https://github.com/g4s8/ghman/issues/34), [#36](https://github.com/g4s8/ghman/issues/36), [#82](https://github.com/g4s8/ghman/issues/82), [#83](https://github.com/g4s8/ghman/issues/83), [#84](https://github.com/g4s8/ghman/issues/84) are still not solved; solved: [#35](https://github.com/g4s8/ghman/issues/35), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://githu

[2019-07-30 07:51] 0pdd commented on #35
@0pdd 3 puzzles [#82](https://github.com/g4s8/ghman/issues/82), [#83](https://github.com/g4s8/ghman/issues/83), [#84](https://github.com/g4s8/ghman/issues/84) are still not solved.

[2019-07-30 07:51] 0crat commented on #84
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-30 07:52] 0crat commented on #83
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-30 07:52] 0crat commented on #82
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2019-07-30 08:01] 0crat commented on #81
Job `gh:g4s8/ghman#81` is not assigned, can't get performer

[2019-07-30 08:03] 0crat commented on #81
This job is not in scope

[2019-07-30 08:08] 0crat commented on #35
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-07-30 08:08] 0crat commented on #35
The job [#35](https://github.com/g4s8/ghman/issues/35) is now out of scope

[2019-07-30 09:07] ammaratef45 commented on #35
@0crat quality good

[2019-07-30 11:52] 0crat commented on #35
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-07-30 11:52] 0crat commented on #35
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-08-06 14:05] #42 closed

[2019-08-06 14:05] 0pdd commented on #42
The puzzle `4-c1ef585e` has disappeared from the source code, that's why I closed this issue.

[2019-08-06 14:05] 0pdd commented on #1
@g4s8 12 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#36](https://github.com/g4s8/ghman/issues/36), [#3](https://github.com/g4s8/ghman/issues/3), [#44](https://github.com/g4s8/ghman/issues/44), [#53](https://github.com/g4s8/ghman/issues/53), [#62](https://github.com/g4s8/ghman/issues/62), [#6](https://github.com/g4s8/ghman/issues/6), [#7

[2019-08-06 14:05] 0pdd commented on #4
@0pdd 2 puzzles [#62](https://github.com/g4s8/ghman/issues/62), [#75](https://github.com/g4s8/ghman/issues/75) are still not solved; solved: [#39](https://github.com/g4s8/ghman/issues/39), [#40](https://github.com/g4s8/ghman/issues/40), [#41](https://github.com/g4s8/ghman/issues/41), [#42](https://github.com/g4s8/ghman/issues/42), [#43](https://github.com/g4s8/ghman/issues/43).

[2019-08-06 14:11] #31 closed

[2019-08-06 14:11] 0pdd commented on #31
The puzzle `9-965770b0` has disappeared from the source code, that's why I closed this issue.

[2019-08-06 14:11] 0pdd commented on #9
@g4s8 2 puzzles [#30](https://github.com/g4s8/ghman/issues/30), [#73](https://github.com/g4s8/ghman/issues/73) are still not solved; solved: [#29](https://github.com/g4s8/ghman/issues/29), [#31](https://github.com/g4s8/ghman/issues/31).

[2019-08-06 14:20] #36 closed

[2019-08-06 14:20] 0pdd commented on #36
The puzzle `2-3058e513` has disappeared from the source code, that's why I closed this issue.

[2019-08-06 14:20] 0pdd commented on #1
@g4s8 11 puzzles [#17](https://github.com/g4s8/ghman/issues/17), [#34](https://github.com/g4s8/ghman/issues/34), [#3](https://github.com/g4s8/ghman/issues/3), [#44](https://github.com/g4s8/ghman/issues/44), [#53](https://github.com/g4s8/ghman/issues/53), [#62](https://github.com/g4s8/ghman/issues/62), [#6](https://github.com/g4s8/ghman/issues/6), [#75](https://github.com/g4s8/ghman/issues/75), [#8

[2019-08-06 14:20] 0pdd commented on #2
@0pdd 4 puzzles [#34](https://github.com/g4s8/ghman/issues/34), [#82](https://github.com/g4s8/ghman/issues/82), [#83](https://github.com/g4s8/ghman/issues/83), [#84](https://github.com/g4s8/ghman/issues/84) are still not solved; solved: [#35](https://github.com/g4s8/ghman/issues/35), [#36](https://github.com/g4s8/ghman/issues/36), [#37](https://github.com/g4s8/ghman/issues/37), [#38](https://githu

[2019-08-06 14:40] 0crat commented on #42
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-08-06 14:40] 0crat commented on #42
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.49.0](https://github.com/zerocracy/farm): CID: [c6e860fc-59f8-4318-a99d-43d261892701](https://www.0crat.com/footprint/CJT4R32Q3/c6e860fc-59f8-4318-a99d-43d261892701), Type: "Start QA review"

[2019-08-06 14:40] 0crat commented on #42
The job [#42](https://github.com/g4s8/ghman/issues/42) is now out of scope

[2019-08-06 14:44] 0crat commented on #31
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-08-06 14:46] 0crat commented on #31
The job [#31](https://github.com/g4s8/ghman/issues/31) is now out of scope

[2019-08-06 14:47] 0crat commented on #36
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-08-06 14:50] 0crat commented on #36
The job [#36](https://github.com/g4s8/ghman/issues/36) is now out of scope

[2019-08-07 06:15] ammaratef45 commented on #36
@0crat quality good

[2019-08-07 06:16] ammaratef45 commented on #31
@0crat quality good

[2019-08-07 06:16] ammaratef45 commented on #42
@0crat quality good

[2019-08-07 06:30] 0crat commented on #36
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-08-07 06:30] 0crat commented on #36
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-08-07 06:31] 0crat commented on #31
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-08-07 06:31] 0crat commented on #31
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-08-07 06:32] 0crat commented on #42
Order was finished, quality is "good": +35 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-08-07 06:32] 0crat commented on #42
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-08-13 16:22] 0crat commented on #55
The job [#55](https://github.com/g4s8/ghman/issues/55) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/4ad8c2da-3bde-4429-8d66-d3984769c10f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-13 16:26] 0crat commented on #54
The job [#54](https://github.com/g4s8/ghman/issues/54) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/06538f73-c8d9-404c-aa51-c04fd8d7d394); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-17 15:21] scristalli commented on #54
@g4s8 I'm confused, I don't see this puzzle in master. How should I proceed?

[2019-08-17 16:00] scristalli commented on #55
@0crat wait for #85

[2019-08-17 16:01] 0crat commented on #55
@scristalli The impediment for [#55](https://github.com/g4s8/ghman/issues/55) was registered successfully by @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-18 16:42] 0crat commented on #54
@scristalli[/z](https://www.0crat.com/u/scristalli) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-08-21 09:11] #55 closed

[2019-08-21 09:11] 0pdd commented on #55
The puzzle `11-b8952b84` has disappeared from the source code, that's why I closed this issue.

[2019-08-21 09:11] 0pdd commented on #11
@g4s8 the puzzle [#54](https://github.com/g4s8/ghman/issues/54) is still not solved; solved: [#55](https://github.com/g4s8/ghman/issues/55).

[2019-08-21 09:11] g4s8 commented on #54
@scristalli looks like a bug in 0pdd

[2019-08-21 09:12] g4s8 commented on #54
@0crat refuse

[2019-08-21 09:12] g4s8 commented on #54
@0crat out

[2019-08-21 09:18] 0crat commented on #54
@g4s8 The user @scristalli[/z](https://www.0crat.com/u/scristalli) resigned from [#54](https://github.com/g4s8/ghman/issues/54), please stop working. Reason for job resignation: Order was cancelled

[2019-08-21 09:20] 0crat commented on #54
@g4s8 The job [#54](https://github.com/g4s8/ghman/issues/54) is now out of scope

[2019-08-21 09:29] 0crat commented on #55
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) please review this job completed by @scristalli[/z](https://www.0crat.com/u/scristalli), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2019-08-21 09:29] 0crat commented on #60
The job [#60](https://github.com/g4s8/ghman/issues/60) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/13c9a263-3611-471a-bf19-aaf242f33d73); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-21 09:29] 0crat commented on #55
The job [#55](https://github.com/g4s8/ghman/issues/55) is now out of scope

[2019-08-21 09:39] ammaratef45 commented on #55
@0crat quality good

[2019-08-21 10:53] 0crat commented on #55
Quality review completed: +4 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-08-21 10:53] 0crat commented on #55
Order was finished, quality is "good": +35 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-21 11:20] 0crat commented on #77
The job [#77](https://github.com/g4s8/ghman/issues/77) assigned to @scristalli[/z](https://www.0crat.com/u/scristalli), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/f5321d29-6451-4146-ad3c-b87a1c9b035d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2019-08-23 10:18] scristalli commented on #77
@0crat refuse

[2019-08-23 10:25] 0crat commented on #77
@scristalli The user @scristalli[/z](https://www.0crat.com/u/scristalli) resigned from [#77](https://github.com/g4s8/ghman/issues/77), please stop working. Reason for job resignation: Order was cancelled

[2019-08-23 10:40] 0crat commented on #77
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-08-26 10:09] 0crat commented on #60
@scristalli[/z](https://www.0crat.com/u/scristalli) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-09-01 15:53] scristalli commented on #60
@0crat resign

[2019-09-01 15:53] 0crat commented on #60
@scristalli The user @scristalli[/z](https://www.0crat.com/u/scristalli) resigned from [#60](https://github.com/g4s8/ghman/issues/60), please stop working. Reason for job resignation: Order was cancelled

[2019-09-01 15:54] 0crat commented on #60
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @scristalli[/z](https://www.0crat.com/u/scristalli)

[2019-09-14 09:11] victornoel commented on #53
@g4s8 @olenagerasimova following the discussion in https://github.com/g4s8/ghman/pull/72#discussion_r304546979, I believe that the best course of action is to not solve this `@todo` but simply remove it and forget about it.
For the record, this is so because this `@todo` was incorrectly introduced.

[2019-09-14 09:16] victornoel commented on #30
@g4s8 can you answer the question above please?

[2019-09-17 13:15] g4s8 commented on #30
@victornoel we need to send all unread messages in the thread, not only subject title, e.g.:

[2019-09-21 15:36] victornoel commented on #10
@0crat refuse

@g4s8 sorry, I just can't wrap my head around the telegram api

[2019-09-21 15:41] 0crat commented on #10
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#10](https://github.com/g4s8/ghman/issues/10), please stop working. Reason for job resignation: Order was cancelled

[2019-09-21 15:48] 0crat commented on #10
Tasks refusal is discouraged, see [§6](http://www.zerocracy.com/policy.html#6): -15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-09-21 16:41] victornoel commented on #34
@0crat wait for #84 to be solved first, the class is too hard to test like this

[2019-09-21 16:46] 0crat commented on #34
@victornoel Job [#34](https://github.com/g4s8/ghman/issues/34) is already on hold

[2019-10-18 15:21] 0crat commented on #10
The job [#10](https://github.com/g4s8/ghman/issues/10) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/54a0868c-ad35-496b-95c1-f00741572a37); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-18 15:29] 0crat commented on #60
The job [#60](https://github.com/g4s8/ghman/issues/60) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/a7b0c4a5-0cd3-4dcc-ad4a-41d26368487e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-18 15:56] 0crat commented on #77
The job [#77](https://github.com/g4s8/ghman/issues/77) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CJT4R32Q3/e72b6a85-aee2-4865-a3bf-e527fbfdc0b9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2019-10-24 13:46] 0crat commented on #77
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-24 13:47] 0crat commented on #60
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-10-24 13:52] 0crat commented on #10
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-14 18:33] olenagerasimova commented on #53
@0crat refuse

[2020-04-14 18:33] olenagerasimova commented on #10
@0crat refuse

[2020-04-14 18:34] olenagerasimova commented on #60
@0crat refuse

[2020-04-14 18:34] olenagerasimova commented on #77
@0crat refuse

[2020-04-14 18:38] 0crat commented on #10
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#10](https://github.com/g4s8/ghman/issues/10), please stop working. Reason for job resignation: Order was cancelled

[2020-04-14 18:46] 0crat commented on #60
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#60](https://github.com/g4s8/ghman/issues/60), please stop working. Reason for job resignation: Order was cancelled

[2020-04-14 19:47] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#60](https://github.com/g4s8/ghman/issues/60); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-15 13:39] olenagerasimova commented on #77
@0crat status

[2020-04-15 13:46] 0crat commented on #77
@olenagerasimova This is what I know about this job in CJT4R32Q3, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#77](https://github.com/g4s8/ghman/issues/77) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is not assigned to anyone
  * The [budget](http://www.zerocracy.com/policy.html#4) is not set yet
  * These users are bann

[2020-04-15 13:46] 0crat commented on #77
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#77](https://github.com/g4s8/ghman/issues/77), please stop working. Reason for job resignation: Order was cancelled

[2020-04-15 13:49] olenagerasimova commented on #53
@0crat status

[2020-04-15 13:56] 0crat commented on #53
@olenagerasimova This is what I know about this job in CJT4R32Q3, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#53](https://github.com/g4s8/ghman/issues/53) is [in scope](http://www.zerocracy.com/policy.html#14) for 9mon
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [9mon](http://www.zerocracy.com/policy.ht

[2020-04-15 13:57] 0crat commented on #53
@olenagerasimova The user @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#53](https://github.com/g4s8/ghman/issues/53), please stop working. Reason for job resignation: Order was cancelled

[2020-04-15 14:52] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#77](https://github.com/g4s8/ghman/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-19 20:24] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#60](https://github.com/g4s8/ghman/issues/60); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-20 15:38] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#77](https://github.com/g4s8/ghman/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-24 20:51] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#60](https://github.com/g4s8/ghman/issues/60); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-25 16:52] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#77](https://github.com/g4s8/ghman/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-29 22:51] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#60](https://github.com/g4s8/ghman/issues/60); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-04-30 17:45] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#77](https://github.com/g4s8/ghman/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-05-04 23:47] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#60](https://github.com/g4s8/ghman/issues/60); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-05-05 18:45] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#77](https://github.com/g4s8/ghman/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-05-10 00:55] 0crat commented on #60
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#60](https://github.com/g4s8/ghman/issues/60); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/

[2020-05-10 19:56] 0crat commented on #77
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#77](https://github.com/g4s8/ghman/issues/77); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http:/